{% extends '@SeriusAdmin/layout.html.twig' %}

{% block page_title %}
    Widget aanpassen op pagina {{ page.name }}
{% endblock %}

{% block breadcrumb %}
    <div class="bread-crumb">
        <a href="{{ path('serius_admin_page_index') }}"><i class="fa fa-edit"></i> Pagina's</a>
        <span class="divider">/</span>
        <a href="{{ path('serius_admin_page_edit', { 'id': page.id }) }}">{{ page.name }}</a>
        <span class="divider">/</span>
        <a href="#" class="bread-current">Widget aanpassen</a>
    </div>
{% endblock %}

{% block content %}
    <div class="form quick-post">
        <!-- Edit profile form (not working)-->
        <form class="form-horizontal">
            <!-- Title -->
            <div class="form-group">
                <label class="control-label col-lg-2" for="title">Title</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="title">
                </div>
            </div>
            <!-- Content -->
            <div class="form-group">
                <label class="control-label col-lg-2" for="content">Content</label>
                <div class="col-lg-10">
                    <textarea class="form-control" id="content"></textarea>
                </div>
            </div>
            <!-- Cateogry -->
            <div class="form-group">
                <label class="control-label col-lg-2">Category</label>
                <div class="col-lg-10">
                    <select class="form-control">
                        <option value="">- Choose Cateogry -</option>
                        <option value="1">General</option>
                        <option value="2">News</option>
                        <option value="3">Media</option>
                        <option value="4">Funny</option>
                    </select>
                </div>
            </div>
            <!-- Tags -->
            <div class="form-group">
                <label class="control-label col-lg-2" for="tags">Tags</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="tags">
                </div>
            </div>

            <!-- Buttons -->
            <div class="form-group">
                <!-- Buttons -->
                <div class="col-lg-offset-2 col-lg-9">
                    <button type="submit" class="btn btn-primary">Opslaan</button>

                    <a href="#" class="btn btn-link">Annuleren</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}