{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    <a class="btn btn-default" href="#">
        <i class="fa fa-arrow-right"></i>
        {{ 'list_select'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endblock %}